/* ===================================================
// enhance
// ===================================================*/
/* stiky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: calc(86px + 25px);
  /*height: 6000px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 86px;
  border-top: 1px solid #F1EAE0;
}
/* stiky footer */
.checkbox label::before, .checkbox label::after {
    background-color: #6bd098;
}

.fade.in {
    opacity: 1;
}
.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* ===================================================
// header proxy
// ===================================================*/

.has-top-notification.with_subnav .header_proxy {
    height: calc(130px + 49px);
}

.with_subnav .header_proxy {
    height: 130px;
}

.main_nav_container,
.header_proxy {
    padding-top: 10px;
}

.header_proxy {
    height: 91px;
}

.has-transparent-header .header_proxy {
    height: 0;
}

/* ===================================================
// top notification
// ===================================================*/
.has-top-notification .fixed-top {
    top: 49px;
}

.top_notification .container {
    display: flex;
    justify-content: space-between;
}

.top_notification .container .nc-icon {
    color: white;
    font-weight: 900;
    display: flex;
    align-self: center;
    cursor: pointer;
}

.top_notification {
    height: 49px;
    position: fixed;
    top: 0;
    z-index: 1040;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    padding: 10px 15px;
}
.top_notification a {
    color: #ffffff;
    font-weight: 600;
    opacity: .8;
    font-size: 12px;
    text-transform: uppercase;
    flex: 1;
    display: flex;
}

/* ===================================================
// sub header navigation
// ===================================================*/
.main_subnav {
    padding: 5px 0px;
    margin: 0 auto;
    display: inline-block;
}
.main_subnav .navbar-nav .nav-item .nav-link {
    margin: 0;
    color: #ffffff;
}
.main_subnav .navbar-nav .btn {
    margin: 3px;
}
.navbar .navbar-nav .nav-item .nav-link {
    opacity: 1;
}

/* ===================================================
// header navigation
// ===================================================*/
.has-transparent-header .navbar .main_subnav_container::before {
    background-image: none;
}

.navbar-onscroll.navbar .main_subnav_container {
    background-color: rgba(0,0,0,.5);
}

.main_subnav_container {
    /*background-color: rgba(0,0,0,.5);*/
}

.main_subnav_container {
    display: none;
    width: 100%;
    text-align: center;
    position: relative;
}

.with_subnav .main_subnav_container {
    display: block;
}

.main_subnav_container .nav-item {
    z-index: 1;
}

.main_subnav_container::before {
    background-image: -webkit-linear-gradient(left, rgb(21, 21, 21), rgb(21, 21, 21));
    background-image: -o-linear-gradient(left, rgb(21, 21, 21), rgb(21, 21, 21));
    background-image: linear-gradient(to right, rgb(21, 21, 21), rgb(21, 21, 21));
    background-image: linear-gradient(90deg, rgb(21, 21, 21), rgb(21, 21, 21));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    content: "";
    transition: opacity .3s ease;
}


.navbar.main_nav.navbar-onscroll.nav_zero {
    transform: translatey(calc(-130px + 49px));
}

/* main-nav */
/*===============================================*/
.main_nav_container {
    width: 100%;
    background: #FFFFFF;
    transition: all .2s ease;
}

.has-transparent-header .main-navbar-transparent.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}

.has-transparent-header .main-navbar-transparent.navbar .navbar-brand {
    color: white;
}

.has-transparent-header .main_nav_container {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /*background: transparent !important;*/
}

.has-transparent-header .navbar {
    box-shadow: none;
}

.has-transparent-header .navbar.navbar-onscroll {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.has-transparent-header .navbar-onscroll .main_nav_container {
    background: #FFFFFF !important;
    padding-top: 0px;
}

.navbar {
    background: transparent;
}
.main_nav_container > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.main_nav {
    display: flex;
    flex-direction: column;
}

  padding-top: 10px;
}
.navbar.main_nav.navbar-onscroll {
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
}


.header_search_container i {
    position: absolute;
    top: 27px;
    padding: 10px;
    left: 10px;
    width: 20px;
}
.header_search_container {
    position: relative;
    padding-right: 10px;
}
.header_search {
    margin: 18px 0 0 0;
    height: 36px;
    border-radius: 30px;
    border: 0;
    padding-left: 35px;
    width: 100px;
    transition: width 500ms ease;
}
.navbar .navbar-nav .nav-item .nav-link.user_avatar {
    padding: 0;
    padding-top: 5px;
}
.user_avatar img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.navbar.main_nav.navbar-onscroll.nav_zero {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar.main_nav {

    -webkit-transition: .5s;
    -webkit-transition-property: initial;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: initial;
    -webkit-transition-delay: initial;

    transition: .5s;
    transition-property: initial;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;

}

/* ===================================================
// overrides
// ===================================================*/
.dropdown-menu {
    background-color: #FFFFFF;
}
@media (min-width: 768px) {
    .navbar-nav li .dropdown-menu:before, #dropdown-row .dropdown .dropdown-menu:before, .card.card-just-text .dropdown .dropdown-menu:before, .card-just-text .dropdown .dropdown-menu:before, .dropdown-btn .dropdown-menu:before{
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid rgba(0,0,0,0.15);
    }
}


/* ===================================================
// Popup
// ===================================================*/
.popup-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0,0,0,0.2);
}

/* ===================================================
// Tabs with under line
// ===================================================*/
.nav-tabs-navigation.under-lined {
    text-align: left;
}

.nav-tabs-navigation.under-lined .nav-tabs-wrapper {
    margin: 0 -2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-tabs-navigation.under-lined .nav-tabs .nav-item {
    margin: 0 10px;
    align-self: baseline;
    display: flex;
}
.nav-tabs-navigation.under-lined .nav-tabs .nav-item .nav-link {
    padding: 0;
    margin-bottom: 20px;
}
.nav-tabs-navigation.under-lined .nav-tabs .nav-item .nav-link.active:before {
    content:none;
    border: 0;
}

.nav-tabs-navigation.under-lined .nav-tabs .nav-item .nav-link.active:after {
    border: 0;
    right: initial;
    position: absolute;
    background-color: #6ACF97;
    height: 5px;
    width: 100%;
    display: flex;
    bottom: 0;
}
.technologies img {
    width: 100%;
}
.technologies .mask {
    display: inline-block;
    width: 47px;
    height: 47px;
}
.nav-tabs.technologies .mask {
    height: 55px;
}


/* ===================================================
// October Dropdown fix
// ===================================================*/
.dropdown.open .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
    opacity: 1;
}