/* ===================================================
// general
// ===================================================*/
#slides-collection {
    background-color: black;
}
.slide-content{
    text-shadow: 0.5px 0.5px 1px #66615b;
}

/* ===================================================
// user setttings
// ===================================================*/
.user_area {
    margin-top: 20px;
}
.user_area  .top_tabs .nav-tabs-wrapper{
    margin-left: -16px;
}

.user_area .top_tabs.col-md-12 {
    padding: 0;
}
.user_area .nav-tabs-navigation {
    margin-bottom: 0;
}
.user_area .nav-tabs-navigation {
    text-align: left;
}
.side_nav_user_settings {
    border-right: 1px solid #F1EAE0;
}

.row .nav-tabs-navigation {
    border-bottom: 1px solid #F1EAE0;
    margin: 10px -15px 20px -15px;
    padding: 0 15px;
}

#user_area_tabs [class^="col-"] {
    padding-top: 25px;
    padding-bottom: 25px;
}
.side_nav_user_settings .nav-item {
    padding: 5px 30px;
    margin: 10px 0px;
}
.side_nav_user_settings_inner .nav-item.active {
    border-left: 4px solid #6BD098;
}

.side_nav_user_settings .nav-link {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin-top: 3px;
    padding-left: 10px;
    font-weight: normal;
}

/* ===================================================
// cards
// ===================================================*/
.main-items-grid .card {
    z-index: initial;
    display: inline-block;
    position: relative;
    float: left;
    width: 24%;
    margin-right: 1%;
    height: 262px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.125);
}


.main-items-grid .card-columns-custom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-items-grid .card.card-full {
    width: 99%;
    height: 145px;
}
.main-items-grid .card.card-full .card-block {
    padding: 1rem;
}

.main-items-grid .card.card-full .card-text {
    padding: 10px;
    margin: 0;
}

.main-items-grid .card h4 {
    margin: 0;
}

.main-items-grid .card-blockquote .info {
    margin-top: 10px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-items-grid .card:not(.card-plain):hover {
    box-shadow: none;
    /*box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);*/
    transform: initial;
    -webkit-transform: initial;
    -ms-transform: initial;
    -moz-transform: initial;
}
/*.card-img-top {
    max-height: 250px;
    width :100%;
}*/
.main-items-grid .card .card-image {
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 197px;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-bottom: 0;
}

.main-items-grid .card .card-image a {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.card-blockquote .info {
    height: 153px;
    display: block;
}
.card .card-image {
    position: relative;
}

.card .card-image .item-info h4{
    color: #636c72;
}
.card .card-image .item-info {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    color: #636c72;
    transition: all .2s ease;
}
.card .card-image:hover .item-info {
    display: block;
    opacity: 1;
}

.card .card-image img {
    width: auto;
    /*max-width: 275px;*/
    max-height: 197px;
    pointer-events: none;
    border-radius: 0;
}
.card-blog.p-3 {
    /*margin-top: 10px;*/
}
.card-blog {
    /*border: 1px solid rgba(0,0,0,.125);*/
    border: 0;
}
.card-blog .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,.125);
}

.card.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}
.card.card-success {
    background-color: #6bd098;
    border-color: #6bd098;
}
.card-inverse .card-text{
    padding-top: 10px;
}

.card-success .btn-outline-neutral:hover, .card-success .btn-outline-neutral:focus {
    color: #6bd098;
}

/* ===================================================
// media queries
// ===================================================*/

@media only screen
   and (max-width : 1600px) {
   /* Styles here */
   .main-items-grid .card {
        width: 24%;
   }
}

@media only screen
   and (max-width : 1200px) {
   /* Styles here */
   .main-items-grid .card {
        width: 28.33%;
   }
}

@media only screen
   and (max-width : 768px) {
   /* Styles here */
   .main-items-grid .card {
        width: 49%;
   }
}

@media only screen
   and (max-width : 320px) {
   /* Styles here */
   .main-items-grid .card {
        width: 99%;
   }
}